/* Copy and paste your CSS from CodePen into here */
h1 {
  color: black;
  text-align: center;
}

img {
  margin:0 auto;
  
    display:block;
    max-width: 100%;
  }
  figcaption {text-align:center;}
p 
{color: black;
text-align: center;}

p1 {text-align: justify;
 ;
}
div {text-align: justify;}

h3 {color: black;
  text-align:center;}
